@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie Added";
}

@model Mission06_nj236.Models.MovieInfo

<h2>Thank You</h2>
<h3>@Model.Title has been added to the database</h3>
